@charset "utf-8";
/* CSS Document */
/* reset da modelo */
.titulos, .conteudos-navegacao {
	display: none;
	visibility: hidden;
}
.corpo, .conteudos {
	border: none;
	box-shadow: none;
	max-width: 2000px;
	padding: 0;
}
#rodape {
	background-image: none;
	float: left;
	padding-bottom: 15px;
}
/* banners */
.banners {
	display: block;
}
/* produtos */
.produtos-container {
	background: url(../img/home-produtos-destaque-bg.jpg) no-repeat center top;
	min-height: 320px;
	padding-bottom: 15px;
	width: 100%;
}
.produtos-cabecalho {
	height: 33px;
	margin: 0 auto;
	margin-bottom: 46px;
	max-width: 1170px;
	padding: 0 2%;
	padding-top: 33px;
	width: 100%;
}
.produtos-cabecalho div {
	border-bottom: dashed 1px #1e1d1d;
	float: right;
	font-family: 'slate_pro_light_condensedLtCn';
	font-size: 2.5rem;
	margin-bottom: 34px;
	max-width: 542px;
	padding-bottom: 7px;
	text-align: right;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.337);
	text-transform: uppercase;
	width: 100%;
}
.produtos-cabecalho div span {
	font-family: 'slate_pro_medium_condenseMdCn';
	font-size: 3rem;
}
.produtos {
	display: block;
	float: left;
	max-width: 2000px;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.produto {
	box-shadow: 1px 4px 2px 0px rgba(0, 0, 0, 0.459);
	display: inline-block;
	margin: 0 2.5px;
}
.produto img {
	background: url(../img/home-produtos-img-fundo.jpg) repeat left top;
	padding: 11px 13px;
}
/* redes sociais */
.redes-sociais-cabecalho {
	font-family: 'slate_pro_light_condensedLtCn';
	font-size: 1.8rem;
	margin-bottom: 15px;
	max-width: 2000px;
	position: relative;
	text-align: center;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.337);
	text-transform: uppercase;
	width: 100%;
}
.redes-sociais-cabecalho:before {
	background: url(../img/home-divisao-horizontal.jpg) no-repeat center top;
	content: "";
	display: block;
	height: 5px;
	margin-bottom: 18px;
	width: 100%;
}
.redes-sociais-cabecalho span {
	font-family: 'slate_pro_medium_condenseMdCn';
	font-size: 2.2rem;
}
.redes-sociais-container {
	background: #f4f5f5;
	margin: 0 auto;
	max-width: 2000px;
	position: relative;
	width: 100%;
}
.redes-sociais-container:before {
	background: url(../img/redes-socias-bg-inicio.jpg) no-repeat center top;
	content: "";
	display: block;
	height: 22px;
	position: relative;
	width: 100%;
}
.redes-sociais-container:after {
	background: url(../img/redes-socias-bg-final.jpg) no-repeat center top;
	content: "";
	display: block;
	height: 22px;
	width: 100%;
}
.redes-sociais {
	background: #f4f5f5;
	margin: 0 auto;
	max-width: 1170px;
	padding: 15px 2%;
	width: 100%;
}
.instagram, .facebook {
	display: inline-block;
}
/* instagram */
.instagram {
	margin-right: 3%;
	max-width: 476px;
	width: 100%;
}
.instagram-cabecalho {
	margin-bottom: 13px;
	width: 100%;
}
.instagram-titulo {
	max-width: 139px;
	width: 100%;
}
/* facebook */
.facebook {
	float: right;
	margin-top: 48px;
	max-width: 500px;
	width: 100%;
}






/* responsividades */
@media screen and (max-width: 1565px) {
.produtos {
	padding-bottom: 15px;
}
.produto {
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
}
}
@media screen and (max-width: 1064px) {
.instagram, .facebook {
	display: block;
	float: none;
	margin: 0 auto;
}
.facebook {
	margin-top: 30px;
}
}